* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: solid black 1px;
    margin: 1em;
}

.barstools {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.customer {
    border: solid black 1px;
    border-radius: 2em;
    height: 5em;
    width: 5em;
    margin: 1em;
}

.counter-top {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border: solid black 1px;
}

.serving-area {
    display: flex;
    justify-content: space-evenly;
    width: 5em;
    height: 5em;
    margin: 1em;
}

.reference {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.staging-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ref,
.stag {
    width: 5em;
    height: 5em;
}

.glassware {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.glass {
    width: 3em;
    height: 3em;
}

.garnishes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.supplies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.back-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.mixer-selection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.spirit-selection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.mixer,
.spirit {
    width: 3em;
    height: 5em;
}
