* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1rem;
}

.barstools {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.customer {
    border: solid black 1px;
    border-radius: 4em;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    text-align: center;
    padding: 2rem;
}

.counter-top {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border: solid black 1px;
    width: 100%;
}

.serving-area {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 8rem;
    margin: 1rem;
}

.supplies {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.glassware {
    grid-area: 1 / span 2;
    display: flex;
    justify-content: space-around;
}

.glass {
    border: solid black 1px;
}

.garnishes {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.ice {
    width: auto;
    height: auto;
    border: solid black 1px;
}

.garnish {
    width: auto;
    height: auto;
    border: solid black 1px;
}

.mixer-selection,
.spirit-selection {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    border: solid black 1px;
}

.mixer,
.spirit {
    width: 4rem;
    height: 8rem;
    margin: 1rem;
    border: solid black 1px;
}
